@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    line-height: 1.6;
    overflow: auto;
}

a {
    text-decoration: none;
    color: black;
}

.upside {
    position: relative;
    max-width: 100%;
    margin: 0 0px;
    width: auto;
    height: 200px;
    background-color: #00acac;
    padding: 0 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

 .upside .nameandjob .name{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
 }

 .upside .nameandjob .job{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
 }

.container {
    max-width: 100%;
    margin: 0 40px;
    overflow: auto;
    padding: 40 40px;
}

.container .title{
    position: relative;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-top: 1px solid #ccc;
}

.container .title1 {
    position: relative;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
    padding-left: 30px;
}

.container .body1{
    font-family: 'Montserrat';
    font-size: 12px;
    padding-left:60px;
    padding-right: 40px;
    padding-bottom: 10px;
}
